In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [10]:
# create engine to hawaii.sqlite
engine=create_engine("sqlite:///hawaii.sqlite")

In [22]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)

In [23]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [25]:
# Save references to each table
Measurement=Base.classes.measurement
Station=Base.classes.station

In [26]:
# Create our session (link) from Python to the DB
session=Session(engine)

In [36]:
# Find the most recent date in the data set.
recent_date=session.query(Measurement.date).order_by(Measurement.date.desc()).first()
recent_date

('2017-08-23',)

In [66]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
print(f"The most recent date in the data set is {recent_date}")

#Calculate the date one year from the last date in the data set
one_year_before=dt.date(2017,8,23)-dt.timedelta(days=365)
print(f"One year before our most recent date equates to {one_year_before}")

# Perform a query to retrieve the data and precipitation scores
#We can just say obtain dates greater than one year before our most recent date.
prcp_recent_year=session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= '2016-08-23')
prcp_recent_year

# Save the query results as a Pandas DataFrame and set the index to the date column
prcp_df=pd.DataFrame(prcp_recent_year,columns=['Date','Precipitation'])
prcp_df

# Sort the dataframe by date
re_ordered=prcp_df.set_index('Date')
re_ordered



# Use Pandas Plotting with Matplotlib to plot the data

The most recent date in the data set is ('2017-08-23',)
One year before our most recent date equates to 2016-08-23

            Precipitation
Date
2016-08-23           0.00
2016-08-24           0.08
2016-08-25           0.08
2016-08-26           0.00
2016-08-27           0.00
...                   ...
2017-08-19           0.09
2017-08-20            NaN
2017-08-21           0.56
2017-08-22           0.50
2017-08-23           0.45

[2230 rows x 1 columns]

In [62]:
# Use Pandas to calcualte the summary statistics for the precipitation data
prcp_df.describe()
#USE .decribe!

                 1
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

In [46]:
# Design a query to calculate the total number stations in the dataset

In [17]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.
#(USE RAW SQL CODE HERE!)

In [18]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [19]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [20]:
# Close Session
session.close()

NameError: name 'session' is not defined